@import "../../../../../assets/scss/grid";
@import "../../../../../assets/scss/variables";

.items {
  @include flex-row();
  justify-content: space-between;
  p {
    text-align: left;
  }

  .order-details {
    p {
      text-align: right;
    }
    img {
      width: $icon-size;
    }
  }
}

.shipping {
  @include flex-row();
  justify-content: space-between;
  p {
    text-align: left;
  }
  .shipping-details {
    text-align: right;
    overflow: hidden;
  }
}

.item-name {
  margin-right: 5%;
  white-space: nowrap;
}

.item-name-product {
  margin-right: 5%;
}

.item-name-product-delivered {
  margin-right: 5%;
  align-self: center;
  p {
    margin: 0%;
  }
}

.hr {
  border-bottom: 1px solid #ccc;
  margin: 0% 0% 12px 0%;
  width: 100%;
}