<div class="cart-container">
  <div class="item-container" *ngFor="let item of cartProducts" @fadeIn>
    <div class="img-container">
      <img [src]="dataToImg(item.documents[0].picture, item.documents[0].fileType)" [alt]="item.id" (click)="goToProduct(item)">
    </div>
    <div class="data-container">
      <div class="data">
        <p>{{item.name}}</p>
        <p>{{item.totalPrice}}€</p>
      </div>
      <img src="../../../assets/icons/delete.svg" alt="deleteIcon" (click)="deleteThisItem(item)">
    </div>
  </div>
</div>
