<h1 mat-dialog-title>ORDER DETAILS</h1>
<mat-dialog-content class="mat-typography">
  <div class="border-top" *ngIf="order.shipping.status == 'RETURNED' || order.shipping.status == 'DELIVERED'"></div>
  <div *ngFor="let item of order.ordersDetails">
    <div class="items" *ngIf="order.shipping.status == 'INTRANSIT' || order.shipping.status == 'ACCEPTED'">
      <div class="item-name-product" >
        <p>{{item.product.name.toUpperCase()}}</p>
      </div>
      <div class="order-details">
        <p>{{item.size}}, {{item.colour}}, {{item.units}} PIECE</p>
      </div>
    </div>

    <div class="items-delivered" *ngIf="order.shipping.status == 'RETURNED' || order.shipping.status == 'DELIVERED'" (click)="goToProductDialog(item)">
      <p>{{item.product.name.toUpperCase()}}</p>
    </div>
  </div>

  <hr class="hr" *ngIf="order.shipping.status == 'ACCEPTED' || order.shipping.status == 'INTRANSIT'">

  <div *ngIf="order.shipping.status == 'ACCEPTED'">
    <p>Soon you receive shipment data</p>
  </div>
  <div *ngIf="order.shipping.status == 'INTRANSIT'">
    <div class="shipping">
      <p class="item-name">UPDATE DATE</p>
      <p class="shipping-details">{{order.shipping.updateDate | date: 'yyyy-MM-dd HH:mm'}}</p>
    </div>
    <div class="shipping">
      <p class="item-name">COUNTRY</p>
      <p class="shipping-details">{{order.shipping.county}}</p>
    </div>
    <div class="shipping">
      <p class="item-name">STATE</p>
      <p class="shipping-details">{{order.shipping.state}}</p>
    </div>
    <div class="shipping">
      <p class="item-name">VILLAGE</p>
      <p class="shipping-details">{{order.shipping.village}}</p>
    </div>
  </div>
</mat-dialog-content>