@import "../../../../../../assets/scss/grid";
@import "../../../../../../assets/scss/variables";

.items {
  @include flex-row();
  justify-content: space-between;
  p {
    text-align: left;
  }

  .order-details {
    p {
      text-align: right;
    }
    img {
      width: $icon-size;
      opacity: 0.9;
    }
  }
}

.shipping {
  @include flex-row();
  justify-content: space-between;
  p {
    text-align: left;
  }
  .shipping-details {
    text-align: right;
    overflow: hidden;
  }
}

.item-name {
  margin-right: 5%;
  white-space: nowrap;
}

.item-name-product {
  margin-right: 5%;
}

.items-delivered {
  width: 100%;
  @include flex-row();
  text-align: left;
  overflow: hidden;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  align-self: center;
  p {
    margin: 3% 0%;
    color: $orange;
  }
  span {
    align-self: center;
    color: rgba(0, 0, 0, 0.5);
  }
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.hr {
  border-bottom: 1px solid #ccc;
  margin: 0% 0% 12px 0%;
  width: 100%;
}