<div class="home-container" @fadeIn>
  <div class="banner-big">
    <a [routerLink]="'/products'"><img src="assets/img/banner-big.jpg" alt="banner-big"></a>
  </div>

  <div class="banner-medium-container">
    <div class="banner-medium">
      <a [routerLink]="'/products/new'"><button class="button-custom">NEW</button></a>
      <img src="assets/img/banner-medium1.jpg" alt="banner-medium1">
    </div>
    <div class="banner-medium">
      <a [routerLink]="'/products/women'"><button class="button-custom">WOMEN</button></a>
      <img src="assets/img/banner-medium2.jpg" alt="banner-medium2">
    </div>
  </div>

  <div class="banner-small-container">
    <div class="banner-small">
      <a [routerLink]="'/products/pants'"><button class="button-custom ">PANTS</button></a>
      <img src="assets/img/banner-small1.jpg" alt="banner-small1">
    </div>
    <div class="banner-small">
      <a [routerLink]="'/products/jackets'"><button class="button-custom">JACKETS</button></a>
      <img src="assets/img/banner-small2.jpg" alt="banner-small2">
    </div>
    <div class="banner-small">
      <a [routerLink]="'/products/accessories'"><button class="button-custom">ACCESSORIES</button></a>
      <img src="assets/img/banner-small3.jpg" alt="banner-small3">
    </div>
  </div>
</div>
