@import "../../../assets/scss/grid";

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner-big,
.banner-medium,
.banner-small {
  width: 100%;
  position: relative;
  margin-bottom: 2px;
}

.banner-big {
  height: 580px;
}

.banner-medium {
  height: 300px;
}

.banner-small {
  height: 194.66px;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .banner-medium-container {
    @include flex-row();
    .banner-medium:first-child {
      margin-right: 2px;
    }
  }

  .banner-small-container {
    @include flex-row();
    .banner-small {
      margin-right: 2px;
    }
    .banner-small:last-child {
      margin: 0;
    }
  }
}
