<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-container">

    <div class="form-group">
      <span>Name</span>
      <input type="text" formControlName="name">
      <label *ngIf="f.name.errors && submitted == true">
        Name is required
      </label>
    </div>

    <div class="form-group">
      <span>Description</span>
      <input type="text" formControlName="description">
      <label *ngIf="f.description.errors && submitted == true">
        Description is required
      </label>
    </div>

    <div class="form-group">
      <span>Purchase price</span>
      <input type="text" formControlName="purchasePrice">
      <label *ngIf="f.purchasePrice.errors && submitted == true">
        Purchase price is required
      </label>
    </div>

    <div class="form-group">
      <span>Sale price</span>
      <input type="text" formControlName="salePrice">
      <label *ngIf="f.salePrice.errors && submitted == true">
        Sale price is required
      </label>
    </div>

    <div class="form-group">
      <span>Discount</span>
      <input type="text" formControlName="discount">
      <label *ngIf="f.discount.errors && submitted == true">
        Discount is required
      </label>
    </div>

    <div class="form-group">
      <span>Size</span>
      <input type="text" formControlName="size">
      <label *ngIf="f.size.errors && submitted == true">
        Size is required
      </label>
    </div>

    <div class="form-group">
      <span>Colour</span>
      <input type="text" formControlName="colour">
      <label *ngIf="f.colour.errors && submitted == true">
        Colour is required
      </label>
    </div>

    <div class="form-group">
      <span>Category</span>
      <input type="text" formControlName="category">
      <label *ngIf="f.category.errors && submitted == true">
        Category is required
      </label>
    </div>

    <div class="form-group">
      <span>Documents</span>
      <input type="file" multiple (change)="filesToUpload = $event.target.files" formControlName="documents">
      <label *ngIf="f.documents.errors && submitted == true">
        Documents is required
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="button-custom">ADD PRODUCT</button>
    </div>
  </form>
</div>
