<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-container">

    <div class="form-group">
      <span>Name</span>
      <input type="text" formControlName="name">
      <label *ngIf="f.name.errors && submitted == true">
        Name is required
      </label>
    </div>

    <div class="form-group">
      <span>Description</span>
      <input type="text" formControlName="description">
      <label *ngIf="f.description.errors && submitted == true">
        Description is required
      </label>
    </div>

    <div class="form-group">
      <span>Purchase price</span>
      <input type="number" placeholder="€" formControlName="purchasePrice">
      <label *ngIf="f.purchasePrice.errors && submitted == true">
        Purchase price is required
      </label>
    </div>

    <div class="form-group">
      <span>Sale price</span>
      <input type="number" placeholder="€" formControlName="salePrice">
      <label *ngIf="f.salePrice.errors && submitted == true">
        Sale price is required
      </label>
    </div>

    <div class="form-group">
      <span>Discount</span>
      <mat-select formControlName="discount">
        <mat-option value="0">0%</mat-option>
        <mat-option value="15">15%</mat-option>
        <mat-option value="30">30%</mat-option>
        <mat-option value="50">50%</mat-option>
        <mat-option value="70">70%</mat-option>
      </mat-select>
      <label *ngIf="f.discount.errors && submitted == true">
        Discount is required
      </label>
    </div>

    <div class="form-group">
      <span>Size</span>
      <mat-select formControlName="size" multiple>
        <mat-option *ngFor="let size of sizes" [value]="sizes">{{size}}</mat-option>
      </mat-select>
      <label *ngIf="f.size.errors && submitted == true">
        Size is required
      </label>
    </div>

    <div class="form-group">
      <span>Colour</span>
      <mat-select formControlName="colour" multiple>
        <mat-option *ngFor="let colour of colours" [value]="colour">{{colour}}</mat-option>
      </mat-select>
      <label *ngIf="f.colour.errors && submitted == true">
        Colour is required
      </label>
    </div>

    <div class="form-group">
      <span>Category</span>
      <mat-select formControlName="category" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
      <label *ngIf="f.category.errors && submitted == true">
        Category is required
      </label>
    </div>

    <div class="form-group">
      <span>Documents</span>
      <input type="file" multiple (change)="filesToUpload = $event.target.files" formControlName="documents">
      <label *ngIf="f.documents.errors && submitted == true">
        Documents is required
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="button-custom">ADD PRODUCT</button>
    </div>
  </form>
</div>
