<div class="container-cards"
    *ngIf="products"
    infiniteScroll
    [alwaysCallback]=true
    [infiniteScrollDistance]="0"
    (scrolled)="onScroll()"
    @fadeIn>

  <div class="container-card" *ngFor="let item of products" @fadeIn>
    <div class="container-img">
      <div *ngIf="item.discount" class="tag-custom">
        <span *ngIf="item.discount.type === 'PERCENTAGE'">{{item.discount.value}}%</span>
        <span *ngIf="item.discount.type === 'FIXED'">-{{item.discount.value}}€</span>
      </div>
      <img [src]="documentService.dataToImg(item.documents[0].picture, item.documents[0].fileType)" [alt]="item.id" (click)="navigateToProduct(item)">
    </div>
    <h2 class="product-tittle">{{item.name}}</h2>
    <div>
      <p class="product-price">
        <s *ngIf="item.discount">
          {{item.priceWoutDiscount}}€</s>
        {{item.totalPrice}}€
      </p>
    </div>
  </div>
</div>
