@import "../../../../../assets/scss/grid";
@import "../../../../../assets/scss/variables";

.container-cards {
  @include flex-row();
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-card {
  width: 49.4%;
  margin-bottom: 5%;
}

.container-img {
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
  height: 236px;
  cursor: pointer;
}

.product-tittle,
.product-price {
  @include font-product();
  overflow: hidden;
}

.button-custom {
  @include flex-row();
  align-items: center;
  min-width: 15%;
  width: auto;
  height: 6.5%;
  top: 6%;
  left: 12%;
  font-size: x-small;
  letter-spacing: unset;
}
