@import "../../../assets/scss/variables";
@import "../../../assets/scss/grid";

footer {
  background-color: white;
  width: 100%;
  height: 40%;

  .social {
    @include flex-row();
    margin: $big-margin-vertical;
    height: 8%;

    a {
      margin: $small-margin-horizontal;
    }

    img {
      position: relative;
      opacity: 0.25;
      width: $icon-size;
      z-index: 0;
    }
  }

  button {
    width: 100%;
  }

  .footer-nav {
    margin: $small-margin-horizontal;
    span {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .footer-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .footer-section:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  .footer-section-header {
    display: flex;
    justify-content: space-between;
    margin: $small-margin-vertical;
  }

  .footer-section-content {
    margin: $small-margin-horizontal;
    margin-bottom: 3%;
    font-size: small;
  }
}
