@import "../../../assets/scss/variables";
@import "../../../assets/scss/grid";

footer {
  background-color: white;
  width: 100%;

  .social {
    @include flex-row();
    margin: $big-margin-vertical;
    height: 8%;

    a {
      margin: $small-margin-horizontal;
    }

    img {
      position: relative;
      opacity: 0.25;
      width: $icon-size;
      z-index: 0;
    }
  }

  button {
    width: 100%;
  }

  .footer-nav {
    margin: $small-margin-horizontal;
    span {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .footer-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .footer-section:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  .footer-section-header {
    display: flex;
    justify-content: space-between;
    margin: $small-margin-vertical;
  }

  .footer-section-content,
  .footer-section-content-hidden {
    margin: 0% 3%;
    font-size: small;
  }
}

@media (min-width: 1366px) {
  .footer-section {
    display: none;
  }

  .footer-section-content-hidden {
    display: initial;
    margin: 0%;
    text-align: left;
    width: 10%;
    white-space: nowrap;
    div {
      margin-top: 3%;
    }
  }

  .footer-nav {
    @include flex-row();
    p {
      margin: 0%;
    }
  }

  .tittle {
    font-size: larger;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

}
