@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/grid";

.user-details-container {
  @include font-product();
  @include flex-column();
  min-height: 90vh;
  margin-top: 0%;
  text-transform: none;
}
