<div @fadeIn>
  <div class="banner-big">
    <a href="products"><img src="../../../assets/img/banner-big.jpg" alt="banner-big"></a>
  </div>

  <div class="banner-medium">
    <a href="#"><button class="button-custom">NEW</button></a>
    <img src="../../../assets/img/banner-medium1.jpg" alt="banner-medium1">
  </div>
  <div class="banner-medium">
    <a href="#"><button class="button-custom">WOMEN</button></a>
    <img src="../../../assets/img/banner-medium2.jpg" alt="banner-medium2">
  </div>

  <div class="banner-small">
    <a href="#"><button class="button-custom ">PANTS</button></a>
    <img src="../../../assets/img/banner-small1.jpg" alt="banner-small1">
  </div>
  <div class="banner-small">
    <a href="#"><button class="button-custom">JACKETS</button></a>
    <img src="../../../assets/img/banner-small2.jpg" alt="banner-small2">
  </div>
  <div class="banner-small">
    <a href="#"><button class="button-custom">ACCESSORIES</button></a>
    <img src="../../../assets/img/banner-small3.jpg" alt="banner-small3">
  </div>
</div>
