@import '../../../assets/scss/grid';

div {
  min-height: 85vh;
  @include flex-column();
  img {
    width: 100%;
  }
}
@media (min-width: 1366px) {
  div {
    padding-left: 15%;
    padding-right: 15%;
  }
}

