<div class="cart-container">
  <div class="item-container" *ngFor="let item of ordersDetails" @fadeIn>
    <div class="img-container">
      <img [src]="documentService.dataToImg(item.product.documents[0].picture, item.product.documents[0].fileType)"
      [alt]="item.product.id"
      (click)="router.navigate(['/products/' + item.product.id])">
    </div>
    <div class="data-container">
      <div class="data">
        <p>{{item.product.name}}</p>
        <div class="data-details">
          <p>Units: {{item.units}}</p>
          <p>Price: {{calculatePrice(item.product.totalPrice, item.units)}}€</p>
        </div>
      </div>
      <img src="../../../assets/icons/delete.svg" alt="deleteIcon" (click)="deleteThisItem(item.product)">
    </div>
  </div>

  <div class="cart-details" *ngIf="ordersDetails[0]" @fadeIn>
    <div class="cart-details-header">
      <p><b>AMOUNT: {{calculateTotalPrice()}}€</b></p>
      <button (click)="couponComponent = !couponComponent"><p><u>COUPON</u></p></button>
    </div>
    <button class="relative-big-button" (click)="checkout()">CHECKOUT</button>
  </div>
</div>

<app-coupon *ngIf="couponComponent"></app-coupon>

