<header (pointerleave)="closeDialog()">

  <button (click)="isMenuActive = !isMenuActive">
    <img *ngIf="isMenuActive" class="hamburger" src="../../../assets/icons/cross.svg" alt="crossIcon" [@rotatedState]>
    <img *ngIf="!isMenuActive" class="hamburger" src="../../../assets/icons/hamburger.svg" alt="hamburgerIcon" [@rotatedState]>
  </button>

  <a [routerLink]="'/'" class="logo" (click)="isMenuActive = false">
    <img src="../../../assets/icons/logo.png" alt="logo">
  </a>

  <a [routerLink]="'/cart'" (click)="isMenuActive = false" [matBadge]="cartBadgeCount" matBadgeSize="small" matBadgeColor="warn">
    <img class="shopping-cart" src="../../../assets/icons/shopping_cart.svg" alt="cart">
  </a>

  <mat-progress-bar class="loading-bar" [color]="color" [mode]="mode" *ngIf="isLoading">
  </mat-progress-bar>
</header>

<div *ngIf="isMenuActive" class="menu" [@inOutAnimation]>
  <div class="dark-container"></div>
  <nav class="menu-nav">
    <button (click)="router.navigate(['/products']); isMenuActive = false" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>PRODUCTS</span>
        </div>
      </li>
    </button>
    <button (click)="router.navigate(['/products/new']); isMenuActive = false" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>NEW</span>
        </div>
      </li>
    </button>
    <button (click)="router.navigate(['/products/women']); isMenuActive = false" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>WOMEN</span>
        </div>
      </li>
    </button>
    <button (click)="router.navigate(['/products/pants']); isMenuActive = false" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>PANTS</span>
        </div>
      </li>
    </button>
    <button (click)="router.navigate(['/products/jackets']); isMenuActive = false" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>JACKETS</span>
        </div>
      </li>
    </button>
    <button (click)="router.navigate(['/products/accessories']); isMenuActive = false" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>ACCESSORIES</span>
        </div>
      </li>
    </button>

    <div class="footer-menu">
      <button (click)="router.navigate(['/products/new-product']); isMenuActive = false" class="menu-section"
      *ngIf="authService.isAdmin()">
        <li>
          <div class=" footer-section-header">
            <span>NEW PRODUCT</span>
          </div>
        </li>
      </button>
      <button (click)="router.navigate(['/account/login']); isMenuActive = false" class="menu-section"
      *ngIf="!authService.isLoggedIn()">
        <li>
          <div class=" footer-section-header">
            <span>LOGIN</span>
          </div>
        </li>
      </button>
      <button (click)="router.navigate(['/account']); isMenuActive = false" class="menu-section" *ngIf="authService.isLoggedIn()">
        <li>
          <div class="footer-section-header">
            <span>ACCOUNT</span>
          </div>
        </li>
      </button>
      <button (click)="logout()" class="menu-section" *ngIf="authService.isLoggedIn()">
        <li>
          <div class="footer-section-header">
            <span>LOGOUT</span>
          </div>
        </li>
      </button>
    </div>
  </nav>
</div>
