<header>

  <button (click)="isMenuActive = !isMenuActive">
    <img class="hamburger" src="../../../assets/icons/hamburger.svg" alt="menu">
  </button>

  <a href="http://localhost:4200" class="logo">
    <img src="../../../assets/icons/logo.png" alt="logo">
  </a>

  <a href="cart" [matBadge]="cartBadgeCount" matBadgeSize="small" matBadgeColor="warn">
    <img class="shopping-cart" src="../../../assets/icons/shopping_cart.svg" alt="cart">
  </a>

  <mat-progress-bar class="loading-bar" [color]="color" [mode]="mode" *ngIf="isLoading">
  </mat-progress-bar>
</header>

<div *ngIf="isMenuActive" class="menu" [@inOutAnimation]>
  <nav class="menu-nav">
    <button (click)="router.navigate(['/products']); isMenuActive = false" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>PRODUCTS</span>
        </div>
      </li>
    </button>
    <button (click)="''" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>NEW</span>
        </div>
      </li>
    </button>
    <button (click)="''" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>WOMEN</span>
        </div>
      </li>
    </button>
    <button (click)="''" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>PANTS</span>
        </div>
      </li>
    </button>
    <button (click)="''" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>JACKETS</span>
        </div>
      </li>
    </button>
    <button (click)="''" class="menu-section">
      <li>
        <div class="footer-section-header">
          <span>ACCESORIES</span>
        </div>
      </li>
    </button>

    <div class="footer-menu">
      <button (click)="router.navigate(['/new-product']); isMenuActive = false" class="menu-section"
      *ngIf="authService.isAdmin()">
        <li>
          <div class=" footer-section-header">
            <span>NEW PRODUCT</span>
          </div>
        </li>
      </button>
      <button (click)="router.navigate(['/account/login']); isMenuActive = false" class="menu-section"
      *ngIf="!authService.isLoggedIn()">
        <li>
          <div class=" footer-section-header">
            <span>LOGIN</span>
          </div>
        </li>
      </button>
      <button (click)="router.navigate(['/account']); isMenuActive = false" class="menu-section" *ngIf="authService.isLoggedIn()">
        <li>
          <div class="footer-section-header">
            <span>ACCOUNT</span>
          </div>
        </li>
      </button>
      <button (click)="logout()" class="menu-section" *ngIf="authService.isLoggedIn()">
        <li>
          <div class="footer-section-header">
            <span>LOGOUT</span>
          </div>
        </li>
      </button>
    </div>
  </nav>
</div>
