@import "../../../assets/scss/variables";
@import "../../../assets/scss/grid";

header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: $header-height;

  @include flex-row();
  justify-content: space-between;

  z-index: 1001;

  button,
  a {
    margin: $small-margin-horizontal;
    @include flex-row();
    img {
      height: 100%;
    }
  }

  .logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: auto;
    height: 100%;
    margin: 0%;
  }

  .shopping-cart,
  .hamburger {
    width: $icon-size;
  }
}

.loading-bar {
  top: $header-height;
  position: fixed;
}

#mat-badge-content-0 {
  top: 10px;
  left: 15px;
}

.menu {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
}

.menu-nav {
  @include flex-column();
  @include font-product();
  margin: $header-height + 1px;
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
  span {
    font-size: medium;
    color: rgba(0, 0, 0, 0.5);
  }
}

.menu-section {
  width: 100%;
  li {
    margin: 3%;
  }
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.menu-section:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.menu-section-header {
  display: flex;
  justify-content: space-between;
  margin: $small-margin-vertical;
}

.footer-menu {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 1366px) {
  header {
    background: rgba(88, 88, 88, 0.5);
  }

  img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .loading-bar {
    top: 0;
    position: fixed;
  }

  .menu {
    width: 17%;
    background: rgba(0, 0, 0, 0.8);
    span {
      color: white;
    }
  }

  .menu-section:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.40);
  }
  .menu-section {
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
  }

  .dark-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: $header-height;
    background: black;
    z-index: -1;
  }
}
