<div class="container-card" *ngIf="item" @fadeIn>

  <mat-carousel class="carousel" timings="250ms ease-in" [autoplay]="true" interval="6500" color="accent" maxWidth="auto" proportion="137" slides="item.documents" [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let img of item.documents; let i = index" [image]="documentService.dataToImg(img.picture, img.fileType)" overlayColor="" [hideOverlay]="true">
    </mat-carousel-slide>
  </mat-carousel>

  <div class="product-container">
    <h2 class="product-tittle">{{item.name}}</h2>

    <div class="product-price">
      <s *ngIf="item.discount">{{item.priceWoutDiscount}}€</s>
      <p> {{item.totalPrice}}€</p>
      <img *ngIf="authService.isAdmin()" (click)="loadDiscounts(); openDiscount = !openDiscount" src="../../../../../assets/icons/offer-icon.svg" alt="offer-icon">
    </div>

    <div *ngIf="openDiscount" class="discountForm" @fadeIn>
      <mat-option (click)="submitDiscountForm(0)">
        <span>NONE</span>
      </mat-option>
      <mat-option *ngFor="let discount of discounts" [value]="discount.id" (click)="submitDiscountForm(discount.id)">
        <span *ngIf="discount.type === 'PERCENTAGE'">{{discount.value}}%</span>
        <span *ngIf="discount.type === 'FIXED'">-{{discount.value}}€</span>
      </mat-option>
    </div>

    <p class="product-description">
      {{item.description}}
    </p>

    <ul class="product-category-container">
      <li class="product-category" *ngFor="let i of item.size" (click)="size = i" [ngClass]="{'selected': size == i}">{{i}}</li>
    </ul>

    <ul class="product-color-container">
      <li class="product-color" *ngFor="let i of item.colour" (click)="colour = i" [ngClass]="{'selected': colour == i}">{{i}}</li>
    </ul>

    <div class="button-container">
      <button class="relative-big-button add-cart" (click)="addToCart(item)">ADD TO CART</button>
      <button class="relative-big-button" (click)="buyNow()">BUY NOW</button>
      <button class="relative-big-button delete" (click)="deleteItem()" *ngIf="authService.isAdmin()">DELETE</button>
    </div>

    <div class="reviews-container" *ngIf="item.stars > 0">
      <div class="reviews-header-container">
        <h3>REVIEWS</h3>
        <div>
          <ngb-rating class="stars" [max]="5" [(rate)]="item.stars" [readonly]="true"></ngb-rating>
          <span> / {{roundStars()}}</span>
        </div>
      </div>

      <app-item-review></app-item-review>
    </div>

  </div>
</div>
