@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/grid";
@import "../../../../../assets/scss/functions";

.container-card,
.product-container {
  @include flex-column();
}

.product-container {
  margin: 4% 0 0 0;
}

.product-tittle,
.product-price {
  @include flex-row();
  @include font-product();
  text-align: center;
  font-size: small;
  align-items: center;
  img {
    width: $icon-size / 1.5;
    margin-left: 2%;
  }
  s,
  p {
    margin: 0%;
    margin-left: 2%;
  }
}

.product-description {
  @include font-product();
  text-align: center;
  text-transform: none;
  font-size: smaller;
  margin-bottom: 3%;
}

.product-category-container,
.product-color-container {
  @include flex-column();
  flex-flow: wrap;
}

.product-category,
.product-color {
  @include font-product();
  margin: $smallest-margin;
  border: 1px solid rgba(0, 0, 0, 0.75);
  min-width: 40px;
  font-size: small;
  text-align: center;
  padding: 1.5%;
  cursor: pointer;
}

.button-container {
  @include flex-column();
  margin: $small-margin;
  margin-bottom: 0;
}

.add-cart {
  color: $orange;
  background-color: unset;
  margin-bottom: 3%;
  cursor: pointer;
}

.delete {
  margin-top: marginX4(3%);
  border: 1px solid red;
  background-color: red;
}

.discountForm {
  @include flex-column();
  width: 100%;
  justify-content: center;
  mat-option {
    @include flex-column();
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0 15%;
    overflow: hidden;
    border: none;
  }
}

.selected {
  border: $orange 1px solid;
  color: $orange;
}
