@import "../../../../../assets/scss/functions";

.popup-container {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.popup {
  position: fixed;
  bottom: 0%;
  height: 30%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.75);
}

.leave-popup {
  position: fixed;
  width: 100%;
  height: 70%;
}

.form-group {
  padding: 5%;
  span {
    text-align: center;
    color: white;
  }
  input {
    padding: 0%;
    text-align: center;
    margin-top: 3%;
    color: white;
    text-transform: uppercase;
  }

  button {
    margin-top: marginX4(3%);
    border: unset;
  }
}
