@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/grid";

.container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.login-container {
  @include flex-column();
  width: 90%;
}

.form-group {
  @include flex-column();
  justify-content: center;
  margin-bottom: 5%;

  input {
    all: unset;
    height: 2.75rem;
    border: 0.0625rem solid #d7dcde;
    padding-left: 0.9375rem;
    font-size: 0.875rem;
    line-height: 1.03125rem;
    border-radius: 0;
    text-align: left;
  }
  label {
    @include font-product();
    margin: 0;
    color: red;
  }

  span {
    @include font-product();
    margin: 1.5% 0;
  }
}
.button-custom {
  position: relative;
}

.new-customer {
  span {
    @include font-product();
  }
}

