@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/functions';

.google-container {
  margin-top: 6%;
  position: relative;

  img {
    width: $icon-size;
  }
}

.form-container {
  margin-top: 20%;
}
