@import "../../../../../assets/scss/grid";
@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/functions";

.checkout-container {
  padding-left: 4%;
  padding-right: 4%;
  p {
    @include font-product();
    font-size: 500;
    margin: 0;
    text-align: left;
  }
  h4 {
    margin: $small-margin-vertical;
  }

  .details-container,
  .details-container-products {
    @include flex-row();
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 3% 0;
  }

  .details-container-products {
    border: none;
    margin-bottom: 2%;
  }

  .details-container-header {
    margin-right: 5%;
  }
  
  .details-container-products-item {
    width: 70%;
  }

  .products {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0% 0% 3% 0%;
  }

  .customer-details,
  .order-details {
    @include flex-column();
    text-align: center;
    overflow: hidden;
  }

  .soft {
    opacity: 0.5;
  }

  .paypal-container {
    margin-top: marginX4(3%);
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1366px) {
  .checkout-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
