<div class="main container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

    <div class="form-group">
      <span>Name</span>
      <input type="text" formControlName="name">
      <label *ngIf="f.name.errors && submitted == true">
        Name is required
      </label>
    </div>

    <div class="form-group">
      <span>Description</span>
      <input type="text" formControlName="description">
      <label *ngIf="f.description.errors && submitted == true">
        Description is required
      </label>
    </div>

    <div class="form-group">
      <span>Purchase price</span>
      <input type="number" placeholder="0.00€" formControlName="purchasePrice">
      <label *ngIf="f.purchasePrice.errors">
        <label *ngIf="f.purchasePrice.errors.required && submitted == true">
          Purchase price is required
        </label>
        <label *ngIf="f.purchasePrice.errors.min && submitted == true">
          Purchase price cannot be < 0 </label>
        </label>
    </div>

    <div class="form-group">
      <span>Sale price</span>
      <input type="number" placeholder="0.00€" formControlName="salePrice">
      <label *ngIf="f.salePrice.errors">
        <label *ngIf="f.salePrice.errors.required && submitted == true">
          Sale price is required
        </label>
        <label *ngIf="f.salePrice.errors.min && submitted == true">
          Sale price cannot be < 0 </label>
        </label>
    </div>

    <div class="form-group">
      <span>Size</span>
      <mat-select formControlName="size" multiple>
        <mat-option *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
      </mat-select>
      <label *ngIf="f.size.errors && submitted == true">
        Size is required
      </label>
    </div>

    <div class="form-group">
      <span>Colour</span>
      <mat-select formControlName="colour" multiple>
        <mat-option *ngFor="let colour of colours" [value]="colour">{{colour}}</mat-option>
      </mat-select>
      <label *ngIf="f.colour.errors && submitted == true">
        Colour is required
      </label>
    </div>

    <div class="form-group">
      <span>Category</span>
      <mat-select formControlName="category" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
      <label *ngIf="f.category.errors && submitted == true">
        Category is required
      </label>
    </div>

    <div class="form-group">
      <span>Images</span>
      <div class="custom-input-file">
        <input type="file" class="input-file" tabindex="-1" multiple (change)="filesToUpload = $event.target.files" formControlName="documents">
        <span>Upload images...</span>
        <img *ngIf="!filesToUpload" src="assets/icons/upload.svg" alt="upload-icon">
        <img *ngIf="filesToUpload" src="assets/icons/file_upload_done.svg" alt="upload-icon-done">
      </div>
      <label *ngIf="f.documents.errors && submitted == true">
        Images is required
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="button-custom">ADD PRODUCT</button>
    </div>
  </form>
</div>
