@import "./assets/scss/grid";
@import "./assets/scss/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
a,
span,
button {
  all: unset;
  color: $orange;
  list-style-type: none;
}

button,
a {
  cursor: pointer;
}

main {
  @include flex-column();
  padding-top: 50px;
}

.button-custom {
  background-color: $orange;
  color: white;
  border: 1px solid $orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 140px;
  letter-spacing: 2px;
  font-size: small;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

// Custom multiple select
.mat-select-trigger {
  height: 100%;
  * {
    vertical-align: middle;
  }
}
.mat-select-panel-wrap {
  flex-basis: 90% !important;
  * {
    color: rgba(0, 0, 0, 0.75) !important;
  }
  .mat-pseudo-checkbox-checked {
    background: $orange !important;
  }
}
.mat-select-min-line {
  color: rgba(0, 0, 0, 0.5) !important;
}

// SorterProducts
.cdk-overlay-connected-position-bounding-box {
  right: 0 !important;
  .mat-menu-panel {
    overflow: hidden !important;
  }
}

