@import "./assets/scss/grid";
@import "./assets/scss/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
a,
span,
button {
  all: unset;
  color: $orange;
  list-style-type: none;
}

button,
a {
  cursor: pointer;
}

main {
  @include flex-column();
  padding-top: 50px;
}

.button-custom {
  @include button-custom();
}

// Custom multiple select
.mat-select-trigger {
  height: 100%;
  * {
    vertical-align: middle;
  }
}
.mat-select-panel-wrap {
  flex-basis: 90% !important;
  * {
    color: rgba(0, 0, 0, 0.75) !important;
  }
  .mat-pseudo-checkbox-checked {
    background: $orange !important;
  }
}
.mat-select-min-line {
  color: rgba(0, 0, 0, 0.5) !important;
}

// SorterProducts
.cdk-overlay-connected-position-bounding-box {
  right: 0 !important;
  .mat-menu-panel {
    overflow: hidden !important;
  }
}

// FORMS
.container {
  display: flex;
  justify-content: center;
  min-height: 90vh;

  .form-container {
    @include flex-column();
    width: 90%;

    .form-group {
      @include flex-column();
      justify-content: center;
      margin-bottom: 5%;

      input,
      mat-select {
        all: unset;
        height: 2.75rem;
        border: 0.0625rem solid #d7dcde;
        padding-left: 0.9375rem;
        font-size: 0.875rem;
        line-height: 1.03125rem;
        border-radius: 0;
        text-align: left;
      }
      label {
        @include font-product();
        margin: 0;
        color: red;
      }

      span {
        @include font-product();
        margin: 1.5% 0;
      }

      .button-custom {
        position: relative;
      }

      .container-errors {
        display: flex;
        justify-content: left;
      }
    }

    .form-footer {
      span {
        @include font-product();
      }
    }
  }
}

//BUTTONS
.tag-custom {
  @include button-custom();
  @include flex-column();
  align-items: center;
  min-width: 15%;
  width: auto;
  height: auto;
  top: 6.5%;
  left: 11%;
  font-size: x-small;
  letter-spacing: unset;
  span {
    color: white;
  }
}

.relative-big-button {
  @include button-custom();
  top: unset;
  left: unset;
  transform: unset;
  position: relative;
  width: 100%;
}
