<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <span>Username</span>
      <input type="text" formControlName="username">
      <label *ngIf="f.username.errors && submitted == true">
        Username is required
      </label>
    </div>

    <div class="form-group">
      <span>Password</span>
      <input type="password" formControlName="password">
      <div class="container-errors" *ngIf="f.password.errors">
        <label *ngIf="f.password.errors.required && submitted == true">
          Password is required
        </label>
        <label *ngIf="f.password.errors.minlength && submitted == true">
          Password must be at least 6 characters
        </label>
      </div>
    </div>

    <div class="form-group">
      <span>Name</span>
      <input type="text" formControlName="name">
      <label *ngIf="f.name.errors && submitted == true">
        Name is required
      </label>
    </div>

    <div class="form-group">
      <span>Surname</span>
      <input type="text" formControlName="surname">
      <label *ngIf="f.surname.errors && submitted == true">
        Surname is required
      </label>
    </div>

    <div class="form-group">
      <span>Email</span>
      <input type="email" formControlName="email">
      <div class="container-errors" *ngIf="f.email.errors">
        <label *ngIf="f.email.errors.required && submitted == true">
          Email is required
        </label>
        <label *ngIf="f.email.errors.email && submitted == true">
          Email must be a valid email address
        </label>
      </div>
    </div>

    <div class="form-group">
      <span>Telephone</span>
      <input type="text" formControlName="telephone">
      <label *ngIf="f.telephone.errors && submitted == true">
        Telephone is required
      </label>
    </div>

    <div class="form-group">
      <span>Country</span>
      <input type="text" formControlName="country">
      <label *ngIf="f.country.errors && submitted == true">
        Country is required
      </label>
    </div>

    <div class="form-group">
      <span>State</span>
      <input type="text" formControlName="state">
      <label *ngIf="f.state.errors && submitted == true">
        State is required
      </label>
    </div>

    <div class="form-group">
      <span>Village</span>
      <input type="text" formControlName="village">
      <label *ngIf="f.village.errors && submitted == true">
        Village is required
      </label>
    </div>

    <div class="form-group">
      <span>Postal Code</span>
      <input type="text" formControlName="postalCode">
      <label *ngIf="f.postalCode.errors && submitted == true">
        Postal Code is required
      </label>
    </div>

    <div class="form-group">
      <span>Address</span>
      <input type="text" formControlName="address">
      <label *ngIf="f.address.errors && submitted == true">
        Address is required
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="button-custom">REGISTER</button>
    </div>

    <div class="form-footer">
      <span>Already have an account? <a [routerLink]="'/account/login'">Login</a></span>
    </div>
  </form>
</div>
